@model PersonelMVC.Models.EntityFrameWork.Kullanicilar
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/css/animsition.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/css/LoginPage1.css" rel="stylesheet" />
    <link href="~/Content/css/LoginPage2.css" rel="stylesheet" />

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url('../Content/images/bg-01.jpg');">
                    <span class="login100-form-title-1">
                        Giriş
                    </span>
                </div>

                @using (Html.BeginForm("Login", "Security", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        @Html.LabelFor(m => m.KullaniciAdi, "Kullanıcı Adı", new { @class = "label-input100" })
                        @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "input100", placeholder = "Kullanıcı Adınızı Giriniz" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        @Html.LabelFor(m => m.Sifre, new { @class = "label-input100" })
                        @Html.PasswordFor(m => m.Sifre, new { @class = "input100", placeholder = "Şifrenizi Giriniz" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="txt1" style="color:red">@ViewBag.Mesaj</div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div style="margin-right:70px">
                            <a class="login100-form-btn" href="/home">
                                Geri Dön
                            </a>
                        </div>
                        <div >
                            <button class="login100-form-btn" type="submit">
                                Giriş
                            </button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/animsition.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/countdowntime.js"></script>
    <script src="~/Scripts/LoginPage1.js"></script>
    <script src="~/Scripts/LoginPage2.js"></script>
    <script>
        function geek() {
            var x = document.getElementById("btn").value;
            
        }
    </script>

</body>
</html>